<!-- Include header-->
<%-include('include/_header')%>
<!-- /Include header-->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/blog">Blog</a>
                        <span>Do you like anime t-shirts? Otherwise we will satisfy you</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="blog__details__content">
                        <div class="blog__details__item">
                            <img src="img/blog/details/anime-detail.jpg" alt="">
                            <div class="blog__details__item__title">
                                <span class="tip">Street style</span>
                                <h4>Being seen: T-shirt Anime</h4>
                                <ul>
                                    <li>by <span>Sinh Nguyen</span></li>
                                    <li>Seb 1, 2022</li>
                                    <li>39 Comments</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                            <p>1. Bringing you to your passion for Japanese….
                                When you watch an anime with vietsub, remember to get vietsub, not dub >_>…..if you watch dub anime…I'm not sure if you will become like Japanese but I guarantee you will hate it Vietnamese…>_<….
                                For vietsub anime, that means you will hear Japanese clearly. Every sentence, every tone, in sync with the climax and emotions of the characters in the movie makes you feel like you want to speak Japanese right away… (sorry that's just paranoid ~_ ~…). Actually, the Japanese voice actors for the anime speak so well, that while watching it, you subconsciously repeat along without realizing it....And then you immediately rummage through Japanese learning websites, ready to go. burning money for Japanese language centers or plowing day and night with the three-alphabet curriculum Hira, Kata and KanJi……oh diligent people, full of dreams and ambitions….in the end, we got the statistics. hey…..should I laugh or cry….</p>
                        </div>
                        <div class="blog__details__quote">
                            <div class="icon"><i class="fa fa-quote-left"></i></div>
                            <p>2. Helps you train a brain with a rich imagination.....
                                If one fine day you wake up and feel that your hand has a strange weight……hey, don't think that your hand is numb (even if it's true...), think maybe some supernatural power has been transferred into your hand like Ouma Shu in Guilty Crown!!=))))) An energetic morning…!!
                                Or when you are wandering on the street, feeling creepy along with smelling a strange smell in the wind….forget the garbage truck near you and think that a swarm of zombies is about to invade the city. the city carries the breath of death~~~ your job now is to try to run as fast as possible…!!! (as far away from the garbage truck as possible)…..Feel looks like High school of the dead anime!!!
                                In short, imagination helps to clear the mind, it is also a way to relax – quoted in Science Unproven…=)))) But remember not to tell your friends what you think. yours if you don't want them to laugh like slapping ice in the face >_>.....</p>
                        </div>
                        <div class="blog__details__desc">
                            <p>3. Helps you to have an optimistic spirit in all circumstances.....
                                In anime, there are always heart-stopping moments, the main character is in danger of hanging his hair or falling into situations that seem like a dead end...but somehow he still makes it through with every sentence " I will never give up….”….There are characters who fall into extreme tragedy: their parents die, the company goes bankrupt, they have an accident, but every day they chant the phrase “Can’t give up. cancel…." so life is bright again @_@ or sometimes the main is beaten to death by the enemy, beaten to a pulp, beaten to the point that his parents can't see his face, lying in a heap, trying to say something "" I won't give up…” the result is…..still win =_= or more classic there are scenes where the character is pushed down from a tall building that seems to have fallen asleep but in the end…still alive. for shouting “I can't die like this…”….as if there would always be some mysterious figure appearing and creating an unthinkable miracle….
                                Are these the spells that help to reverse the situation in the legend?!.....You should also prepare those sentences for yourself….>_>.....Be optimistic! Even if the situation is bad, just “Don't give up…” you can overcome…but it's not like the anime…don't fly too high ~_~…in real life, there aren't many miracles where for you! =)))</p>
                        </div>
                        <div class="blog__details__tags">
                            <a href="#">Fashion</a>
                            <a href="#">Street style</a>
                            <a href="#">Diversity</a>
                            <a href="#">Beauty</a>
                        </div>
                        <div class="blog__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btn__item">
                                        <h6><a href="#"><i class="fa fa-angle-left"></i> Previous posts</a></h6>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__details__btn__item blog__details__btn__item--next">
                                        <h6><a href="#">Next posts <i class="fa fa-angle-right"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog__details__comment">
                            <h5>3 Comment</h5>
                            <a href="#" class="leave-btn">Leave a comment</a>
                            <div class="blog__comment__item">
                                <div class="blog__comment__item__pic">
                                    <img src="img/blog/details/eren-img.png" alt="">
                                </div>
                                <div class="blog__comment__item__text">
                                    <h6>Eren Yeager</h6>
                                    <p>The designs are so beautiful</p>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Seb 2, 2022</li>
                                        <li><i class="fa fa-heart-o"></i> 12</li>
                                        <li><i class="fa fa-share"></i> 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog__comment__item blog__comment__item--reply">
                                <div class="blog__comment__item__pic">
                                    <img src="img/blog/details/mikasa-img.jpg" alt="">
                                </div>
                                <div class="blog__comment__item__text">
                                    <h6>Mikasa Ackerman</h6>
                                    <p>I thought you were busy concussion, Eren</p>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Seb 5, 2022</li>
                                        <li><i class="fa fa-heart-o"></i> 12</li>
                                        <li><i class="fa fa-share"></i> 1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog__comment__item">
                                <div class="blog__comment__item__pic">
                                    <img src="img/blog/details/luffy-img.jpg" alt="">
                                </div>
                                <div class="blog__comment__item__text">
                                    <h6>Monkey D. Luffy</h6>
                                    <p>Why is there no picture of me? Meat... meat... meat... meat... meat...</p>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Seb 17, 2022</li>
                                        <li><i class="fa fa-heart-o"></i> 12</li>
                                        <li><i class="fa fa-share"></i> 1</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <ul>
                                <li><a href="#">All <span>(250)</span></a></li>
                                <li><a href="#">Fashion week <span>(80)</span></a></li>
                                <li><a href="#">Street style <span>(75)</span></a></li>
                                <li><a href="#">Lifestyle <span>(35)</span></a></li>
                                <li><a href="#">Beauty <span>(60)</span></a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Feature posts</h4>
                            </div>
                            <a href="#" class="blog__feature__item">
                                <div class="blog__feature__item__pic">
                                    <img src="img/blog/sidebar/attack-on-titan.jpg" alt="">
                                </div>
                                <div class="blog__feature__item__text">
                                    <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
                                    <span>Seb 17, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__feature__item">
                                <div class="blog__feature__item__pic">
                                    <img src="img/blog/sidebar/onepiece.jpg" alt="">
                                </div>
                                <div class="blog__feature__item__text">
                                    <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
                                    <span>Seb 17, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__feature__item">
                                <div class="blog__feature__item__pic">
                                    <img src="img/blog/sidebar/kimetsu-no-yaiba.jpeg" alt="">
                                </div>
                                <div class="blog__feature__item__text">
                                    <h6>Amf Cannes Red Carpet Celebrities Kend...</h6>
                                    <span>Seb 17, 2019</span>
                                </div>
                            </a>
                        </div>
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Tags cloud</h4>
                            </div>
                            <div class="blog__sidebar__tags">
                                <a href="#">Fashion</a>
                                <a href="#">Street style</a>
                                <a href="#">Diversity</a>
                                <a href="#">Beauty</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

<!-- Include footer-->
<%-include('include/_footer')%>
<!-- /Include footer-->