<% products.forEach(function(product){ %>
    <div class="col-lg-4 col-md-6">
        <div class="product__item">
            <img src="data:image/<%=product.img.contentType%>;base64,<%=product.img.data.toString('base64')%>" />
            <div class="product__item__text">
                <h6><a href="#"><%= product.title %></a></h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product__price">$ <%= product.title %></div>
            </div>
        </div>
    </div>
<%})%>


